.clientes{
    background-color: #dde3eb;
    padding: 0.75rem 0;
}

.clientes .volanta{
    font-size: 5vw;
    margin: 1rem 5vw -0rem;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.clientes .volanta,
.clientes .linea{
    display: inline-block;
    vertical-align: middle;
}

.clientes .linea{
    border: 1px solid red;
    width: 30vw;
    margin-top: 2rem;
}

.clientes .titulo{
    font-size: 8vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: #5c5188;
    font-family: 'Anton', sans-serif;
}

.clientes .Container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.clientes .Container .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;    margin: 2rem 0;
    box-shadow: red;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    width: 90vw;
    border-radius: 10px;
}

.clientes .Container .card .img{
   width: 80vw;
   display: flex;
   margin: auto;
}

@media (min-width: 768px){
    .clientes .Container .card .img{
        width: 65vw;
    }
    
}

@media (min-width: 1024px){

    .clientes .volanta{
        font-size: 2vw;
    }
    
    .clientes .titulo{
        font-size: 5vw;
    }

    .clientes .Container{
        flex-direction: row;
        justify-content: center;
    }

    .clientes .Container .card{
        width: 30vw;
        margin: 1rem 3rem;
        display: flex;
    }

    .clientes .Container .card .img{
        width: 25vw;
    }

    
}