.servicios{
    margin: 2.5rem auto 0;
    background-color: #dde3eb;
    padding: 0.5rem 0 0rem;
}

.servicios .volanta{
    font-size: 5vw;
    margin: 1rem 5vw -0rem;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.servicios .volanta,
.servicios .linea{
    display: inline-block;
    vertical-align: middle;
}

.servicios .linea{
    border: 1px solid red;
    width: 30vw;
    margin-top: 2rem;
}

.servicios .titulo{
    font-size: 8vw;
    margin-left: 5vw;
    color: #5c5188;
    font-family: 'Anton', sans-serif;
}

.servicios .Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicios .Container .card{
    width: 90vw;
    display: flex;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.servicios .Container .card .img{
    width: 75vw;
    display: flex;
    margin: 1.5rem auto 0.7rem;
    border-radius: 10px;
}

.servicios .Container .card .texto{
    font-family: 'Lato', sans-serif;
    font-size: 1.05rem;
    margin: 0 1rem 1.5rem;
    text-align: center;
}

.servicios .Container .card .subtitulo{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    margin-bottom: -0.5rem;
    text-transform: uppercase;
}

.servicios .Container .card hr{
    color: red;
    width: 70vw;
    display: flex;
    margin: 1rem auto 0.5rem;
}

.servicios .Container .icono{
    display: flex;
    margin: -0.3rem auto 0.3rem;
    color: #5c5188;
    font-size: 8vw;
    font-weight: 900s;
}

@media (min-width: 768px){

    .servicios .volanta{
        font-size: 3vw;
    }

    .servicios .titulo{
        font-size: 5vw;
    }

    .servicios .linea{
        width: 20vw;
    }

    .servicios .Container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .servicios .Container .card{
        width: 40vw;
    }

    .servicios .Container .card .img{
        width: 35vw;
    }

    .servicios .Container .card hr{
        color: red;
        width: 40vw;
        display: flex;
        margin: 0rem auto 0.5rem;
    }
    

.servicios .Container .card .texto{
    font-size: 1.05rem;
    margin: 0 1rem 1.5rem;
    text-align: center;
}

.servicios .Container .card .subtitulo{
    font-size: 3vw;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

}

@media (min-width: 1024px){

    .servicios .volanta{
        font-size: 1.8vw;
    }

    .servicios .titulo{
        font-size: 3vw;
    }

    .servicios .linea{
        width: 20vw;
    }

    .servicios .Container .card{
        width: 40vw;
    }

    .servicios .Container .card .img{
        width: 33vw;
        padding-top: 0.5rem;
    }

    .servicios .Container .card hr{
        width: 30vw;
    }

.servicios .Container .card .texto{
    font-size: 1.15rem;
    margin: 0.2rem 2rem 1rem;
}

.servicios .Container .card .subtitulo{
    font-size: 2vw;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.servicios .Container .icono{
    font-size: 4vw;
}
}