.servicios{
    margin: 2.5rem auto;
}

.servicios .volanta{
    font-size: 5vw;
    margin: 1rem 5vw -0rem;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.servicios .titulo{
    font-size: 8vw;
    margin-left: 5vw;
    color: #5c5188;
    font-family: 'Anton', sans-serif;
}

.servicios .Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicios .Container .card{
    width: 90vw;
    display: flex;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.servicios .Container .card .texto{
    font-family: 'Lato', sans-serif;
    font-size: 1.05rem;
    margin: 0 1rem 1.5rem;
    text-align: center;
}

.servicios .Container .card .subtitulo{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.servicios .Container .icono{
    display: flex;
    margin: -0.3rem auto 0.3rem;
    color: #5c5188;
    font-size: 8vw;
    font-weight: 900s;
}