.servicios{
    margin: 2.5rem auto 0;
    background-color: #dde3eb;
    padding: 0.5rem 0 0rem;
}

.servicios .volanta{
    font-size: 5vw;
    margin: 1rem 5vw -0rem;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.servicios .volanta,
.servicios .linea{
    display: inline-block;
    vertical-align: middle;
}

.servicios .linea{
    border: 1px solid red;
    width: 30vw;
    margin-top: 2rem;
}

.servicios .titulo{
    font-size: 8vw;
    margin-left: 5vw;
    color: #5c5188;
    font-family: 'Anton', sans-serif;
}

.servicios .Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicios .Container .card{
   /*  width: 90vw;
    display: flex;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; */
      
    
   /*  padding: 2rem 0rem 0rem;
        margin: 5vw;
        display: inline-block;
        border: 3px solid #333333;
        border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
        letter-spacing: 0.1ch;
        background: #ffffff;
        position: relative;    
             font-family: 'Lato', sans-serif;
            &::before {
            content: '';
            border: 2px solid #353535;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
            border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    } */

    padding: 2rem 0rem 0rem;
    width: 88vw;
    margin: 5vw;
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.1ch;
    background: #ffffff;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.servicios .Container .card::before{
    content: '';
    border: 2px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.035) rotate(1deg);
    -webkit-transform: translate(-49.5%, -49.5%) scale(1.035) rotate(1deg);
    -moz-transform: translate(-49.5%, -49.5%) scale(1.035) rotate(1deg);
    -ms-transform: translate(-49.5%, -49.5%) scale(1.035) rotate(1deg);
    -o-transform: translate(-49.5%, -49.5%) scale(1.035) rotate(1deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

/* .servicios .Container .card:hover{
    -o-transition:3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    box-shadow: 10px 10px 5px #888888;
} */

.servicios .Container #card1,
.servicios .Container #card3{
    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}

.servicios .Container #card2,
.servicios .Container #card4{
    animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
}

.servicios .Container .card .img{
    width: 75vw;
    display: flex;
/*     margin: 1.5rem auto 0.7rem;
 */    margin: -0.5rem auto 0.7rem;
    border-radius: 10px;
}

.servicios .Container .card .texto{
    font-family: 'Lato', sans-serif;
    font-size: 1.05rem;
    margin: 0 1rem 1.5rem;
    text-align: center;
}

.servicios .Container .card .subtitulo{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: black;
    letter-spacing: 2px;
    font-size: 6vw;
    margin: 1rem;
    margin-bottom: -0.5rem;
    text-transform: uppercase;
}

.servicios .Container .card hr{
    color: #5c5188;
    width: 70vw;
    display: flex;
    margin: 1rem auto 0.5rem;
    border: 1.75px solid #5c5188
}

@media (min-width: 768px){

    .servicios .volanta{
        font-size: 3vw;
    }

    .servicios .titulo{
        font-size: 5vw;
    }

    .servicios .linea{
        width: 20vw;
    }

    .servicios .Container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .servicios .Container .card{
        width: 40vw;
    }

    .servicios .Container .card .img{
        width: 35vw;
    }

    .servicios .Container .card hr{
        color: red;
        width: 30vw;
        display: flex;
        margin: 0rem auto 0.5rem;
    }
    

.servicios .Container .card .texto{
    font-size: 1.05rem;
    margin: 0 1rem 1.5rem;
    text-align: center;
}

.servicios .Container .card .subtitulo{
    font-size: 3vw;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

}

@media (min-width: 1024px){

    .servicios{
        padding-top: 1rem;
    }

    .servicios .volanta{
        font-size: 1.8vw;
    }

    .servicios .titulo{
        font-size: 3vw;
    }

    .servicios .linea{
        width: 20vw;
    }

    .servicios .Container .card{
        width: 40vw;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .servicios .Container .card .img{
        width: 33vw;
        padding-top: 0.5rem;
    }

    .servicios .Container .card hr{
        width: 30vw;
    }

.servicios .Container .card .texto{
    font-size: 1.15rem;
    margin: 0.2rem 2rem 2rem;
}

.servicios .Container .card .subtitulo{
    font-size: 2vw;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

}

@media (min-width:1440px){

    .servicios{
        padding-top: 2rem;
        padding-bottom: -1rem;
    }

    .servicios .volanta,
    .servicios .titulo{
    margin-left: 7vw;
}

    .servicios .Container .card{
        width: 37vw;
    }

    .servicios .Container .card .img{
        width: 25vw;
        padding-top: 0.5rem;
    }
}