.header{
    background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url('../../../public/img/header/header.jpg') 50%;
    background-size: cover;
  width: 100%;
  height: 75vh;
}

.header .Container .titulo{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding: 23vh 5vw 3vw;
    color: #fff;
}

.header .Container .boton{
    display: flex;
    margin: auto;
    background-color: #5c5188;
    padding: 0.7rem 2rem;
    font-size: 1.1rem;
}

@media (min-width: 768px){
    .header .Container .titulo{
        font-size: 3.8rem;
        padding: 13vh 10vw 3vw;
    }
    
    .header .Container .boton{
        padding: 0.7rem 2rem;
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px){
    .header .Container .titulo{
        font-size: 3.8rem;
        padding: 15vh 22vw 3vw;
    }
    
    .header .Container .boton{
        padding: 0.7rem 2rem;
        font-size: 1.25rem;
    }
}

@media (min-width: 1440px){
    .header .Container .titulo{
        font-size: 4vw;
        padding: 15vh 30vw 3vw;
    }

    .header .Container .boton{
        padding: 0.5rem 2rem;
        margin-top: -1rem;
        font-size: 1.6vw;
    }
}