.navBar{
  background-color: transparent!important;
}

.logo{
  width: 120px;
  margin-top: 0.35rem;
}

.navBar .links{
  font-family: 'Lato', sans-serif!important;
  font-weight: 600;
  text-align: center;
 /*  background-color: #5c5188;
  color: #fff;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 20vw; */
}

.navBar .links:hover{
  color: #5c5188;
}

@media (min-width: 1000px){
  .navbar-collapse{
    flex-grow: 0;
  }
}

