.navBar{
  background-color: transparent!important;
}

.logo{
  width: 120px;
  margin-top: 0.35rem;
}

.navBar .links{
  font-family: 'Lato', sans-serif!important;
  font-weight: 600;
  text-align: center;
}

.navBar .links:hover{
  color: #5c5188;
}

@media (min-width: 1024px){
  /* .NavBar{
    display: flex;
    justify-content: space-between;
  } */
}

