.tecnologias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 5vw 10vw 5vw;
    margin-top: 5vw;
}

.tecnologias .img{
    width: 28vw;
    filter: grayscale(100%);
    padding: 0.5rem 0;
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 7s; /* don't forget to set a duration! */
}

.tecnologias .img:hover{
    filter: none;
}

@media (min-width: 768px){
    .tecnologias{
        padding: 3vw 10vw 2vw;
        margin-top: 5vw;
    }

    .tecnologias .img{
        width: 25vw
    }
}

@media (min-width: 1024px){
    .tecnologias .img{
        width: 25vw
    }
}

@media (min-width: 1440px){

    .tecnologias{
        padding: 3vw 10vw 2vw;
        margin-top: 3vw;
    }

    .tecnologias .img{
        width: 25vw;
        padding: 1vh 5vw;
    }
}
