footer{
    background-color: #5c5188;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: -1rem;
}

footer .titulo{
    text-align: center;
    padding: 2rem;
    color: #fff;
    font-family: 'made sans';
    font-weight: 900;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
}

footer strong{
    font-family: 'made sans';
    font-weight: 700;
}

footer .derechos{
    font-size: 0.9rem;
    color: #fff;
    padding-bottom: 1rem;
}