.contacto .volanta{
    font-size: 1.20rem;
    margin: 1rem 8vw -0rem;
    color: #000;
}

.contacto .titulo{
    font-size: 1.85rem;
    margin-left: 8vw;
    color: #5c5188;
    font-family: 'Anton', sans-serif;
}