.contacto{
    margin-top: 1rem;
    background-color: rgb(252, 252, 252);
    padding: 1rem 0;
}

.contacto .volanta{
    font-size: 5vw;
    margin: 1rem 5vw -0rem;
    color: #000;
}

.contacto .titulo{
    font-size: 8vw;
    margin-left: 5vw;
    color: #5c5188;
    font-family: 'Anton', sans-serif;
}

.contacto .texto{
    margin: 0.5rem 5vw 0 5vw;
    color: #000;
}

.contacto .Formulario{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 90vw;
}

.contacto .Formulario .Input{
    margin: 0.5rem 0
}

.contacto .boton{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    background-color: #5c5188;
    color: #fff;
}

.contacto .boton:hover{
    background-color: #5c5188;
    opacity: 0.99;
    color: #fff;
}

/* formulario */

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.css-yjsfm1{
    color: #5c5188!important;
    border-color: #5c5188!important;
}

.contacto legend,
.css-yjsfm1{
    color: red!important;
}