.contacto{
    padding: 1rem 0;
}

.contacto .volanta{
    font-size: 5vw;
    margin: 1rem 5vw -0rem;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.contacto .volanta,
.contacto .linea{
    display: inline-block;
    vertical-align: middle;
}

.contacto .linea{
    border: 1px solid red;
    width: 22vw;
    margin-top: 2rem;
}

.contacto .titulo{
    font-size: 8vw;
    margin-left: 5vw;
    color: #5c5188;
    font-family: 'Anton', sans-serif;
}

.contacto .texto{
    margin: 0.5rem 5vw 0 5vw;
    color: #000;
    font-family: 'Lato', sans-serif;
}

.contacto .Formulario{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 90vw;
}

.contacto .Formulario .Input{
    margin: 0.5rem 0
}

.contacto .boton{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    background-color: #5c5188;
    color: #fff;
    font-size: 1.2rem;
    width: 50vw;
}

.contacto .boton:hover{
    background-color: #5c5188;
    opacity: 0.99;
    color: #fff;
}


@media (min-width: 768px){
    .contacto .volanta{
        font-size: 3vw;
    }

    .contacto .titulo{
        font-size: 5vw;
    }

    .contacto .linea{
        width: 20vw;
    }

    .contacto .texto{
        margin: 0.5rem 10vw 0 5vw;
        font-size: 1.15rem;
    }
}

@media (min-width: 1024px){
    .contacto{
        display: flex;
        justify-content: center;
        margin: 0 5vw 0 1vw;
    }

    .contacto .volanta{
        font-size: 1.8vw;
    }

    .contacto .titulo{
        margin-top: 0.25rem;
        font-size: 3vw;
    }

    .contacto .linea{
        display: none;
    }

    .contacto .Formulario{
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
        width: 45vw;
    }

    .contacto .boton{
        margin: 1rem auto;
        font-size: 1.2rem;
        width: 20vw;
    }
}

@media (min-width: 1440px){
    .contacto .volanta,
    .contacto .titulo,
    .contacto .texto{
    margin-left: 7vw;
}

    .contacto .titulo{
        margin-top: -0.25rem;
    }

    .contacto .texto{
        font-size: 1.3rem;
    }
}