body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'made sans';
  src: url('../public/fonts/made.otf') format('truetype');
}

